# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Icon?
Icon

# Vim and other editors
*~
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
*.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Jupyter metadata
*.ipynb_meta

# VSCode
.vscode/

# Conda environment files
*.conda
*.yml

# Logs
*.log

# Build / distribution
build/
dist/
*.egg-info/

# System files
Thumbs.db
desktop.ini
